<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Let's Explore Symfony 4{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">
    <link rel="stylesheet" href="}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" href=""> {% trans %}Reset Password{% endtrans %}</a>
           
         <ul class="navbar-nav ml-auto">
{% for locale in locales  %}
    {% if locale != app.request.locale %}
    <li class="nav-item "> 
             <a class="nav-link" href="{{path('change-lang',{'locale':locale})}}">   <span class"sr-only">   <img src="{{ asset('images/'~ locale ~'.png') }}" alt="{{locale}}"/>   </span>   </a>  
           </li>
    {% endif %}
          
{% endfor %}
           
         
          </ul>  
    </nav>
</header>

<main role="main" class="container main"  >
    {% block body %}


<section id="cover" class="min-vh-150">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-black">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-8 py-4 text-truncate"> {% trans %}Reset{% endtrans %}</h1>
                    
                             {{ form_start(our_form) }}
                             {{ form_widget(our_form) }}
                             {{ form_end(our_form) }}
                </div>
            </div>
        </div>
    </div>
</section>


   
     


{% endblock %}
</main><!-- /.container -->

{% block javascripts %}{% endblock %}
</body>
</html>