{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section id="cover" class="min-vh-150">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-black">
                <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-8 py-4 text-truncate"> {% trans %}Save{% endtrans %}</h1>
                    
    {{ form_start(registrationForm) }}

        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</section>




   
{% endblock %}
